@mixin font-face {
	@at-root {
		@font-face {
			font-family: NoticiaText;
			font-style: normal;
			font-weight: 400;
			src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Noticia_Text/NoticiaText-Regular.otf);
			-ro-font-embedding-type: all;
		}

		@font-face {
			font-family: NoticiaText;
			font-style: normal;
			font-weight: 700;
			src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Noticia_Text/NoticiaText-Bold.otf);
			-ro-font-embedding-type: all;
		}

		@font-face {
			font-family: NoticiaText;
			font-style: italic;
			font-weight: 400;
			src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Noticia_Text/NoticiaText-Italic.otf);
			-ro-font-embedding-type: all;
		}

		@font-face {
			font-family: NoticiaText;
			font-style: italic;
			font-weight: 700;
			src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Noticia_Text/NoticiaText-BoldItalic.otf);
			-ro-font-embedding-type: all;
		}
	}
}
