@at-root {
	@font-face {
		font-family: PlayfairDisplay-BoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Medium;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-Medium.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-SemiBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-MediumItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-MediumItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Black;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-Black.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Bold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-Bold.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-BlackItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-ExtraBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-ExtraBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-SemiBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-SemiBold.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Italic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-Italic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Regular;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Playfair_Display/PlayfairDisplay-Regular.otf);
		-ro-font-embedding-type: all;
	}

}
