@at-root {
	@font-face {
		font-family: Rubik-Black;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-Black.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-BlackItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-BlackItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-ExtraBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-ExtraBoldItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-LightItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-LightItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Medium;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-Medium.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-SemiBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-SemiBold.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-BoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-BoldItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Regular;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-Regular.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-SemiBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-SemiBoldItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Italic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-Italic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-MediumItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-MediumItalic.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Light;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-Light.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-ExtraBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-ExtraBold.otf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Bold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/assets/static/fonts/Rubik/Rubik-Bold.otf);
		-ro-font-embedding-type: all;
	}
}
