@mixin overlap($columns: 6, $resolution: 5) {
	@for $i from 1 through $columns {
		$column: $i * $resolution;

		&.overlap__columns--right--#{$i} {
			margin-right: calc(
				(var(--alf-grid-column-width) * -#{$column}) +
				(var(--alf-grid-column-gap) * -#{$column - 1})
			);
		}

		&.overlap__columns--left--#{$i} {
			margin-left: calc(
				(var(--alf-grid-column-width) * -#{$column}) +
				(var(--alf-grid-column-gap) * -#{$column - 1})
			);
		}
	}
}
