.alf-component.caption {
	box-sizing: border-box;
	--alf-hyphenate: 1;

	p {
		margin: 0;
		font-family: Rubik-Regular;
		font-size: 9pt;
		line-height: var(--baseline-height);
	}

	.headline {
		font-family: Rubik-Bold;
		font-size: 9pt;
	}

	.credit {
		display: block;
		font-family: Rubik-Italic;
		font-size: 8pt;
	}

	&[grid-inside] {
		padding: 2mm;
	}
}
