@use "../tools";

@mixin component {
	.alf-component.headline {
		@include tools.margin;
		@include tools.text-properties(h1);
		@include tools.text-auto-size;

		& {
			--alf-grid-align-top: baseline;
			--alf-grid-align-bottom: baseline;
			--alf-is-editable: 1;
			--text-auto-size-min: 20;
			--text-auto-size-max: 200;
			--text-auto-size-lines: 0;

			--text-color: var(--color-black);
			--text-font-size: 44pt;
			--text-line-height: 1.01;
			--text-font-family: PlayfairDisplay;
			--text-font-weight: 600;
			--text-letter-spacing: -0.02em;
		}
	}
}
