@use "../tools";

@mixin component {
	.alf-component.headline {
		@include tools.margin;
		@include tools.text-properties(h1);

		& {
			--alf-grid-align-top: baseline;
			--alf-grid-align-bottom: baseline;
			--alf-text-respect-line-breaks: 0;
			--alf-text-size-min: 20;
			--alf-text-size-max: 200;
			--alf-text-lines: 0;

			--text-color: var(--color-black);
			--text-size: 44pt;
			--text-line-height: 1.01;
			--text-font-family: PlayfairDisplay;
			--text-font-weight: 600;
			--text-letter-spacing: -0.02em;
		}
	}
}
