.quote {
	font-family: Rubik-Regular;

	blockquote {
		margin: 0;
		padding: 0;

	}

	.quote-text {
		margin: 0;
		font-family: Rubik-Light;
		font-size: 14pt;
		line-height: 0.9em;;
		font-weight: normal;
	}

	.quote-creator {
		font-family: Rubik-LightItalic;
		margin: var(--baseline-height) 0 0 0;
		--alf-hyphenate: 1;
	}
}
