@use "../tools";

@mixin component {
	.alf-component.quote {
		@include tools.margin;

		& {
			font-family: Rubik;
			font-weight: normal;
		}

		blockquote {
			margin: 0;
			padding: 0;
		}

		.quote-text {
			margin: 0;
			font-family: Rubik;
			font-style: italic;
			font-weight: 300;
			font-size: 14pt;
			line-height: 0.9em;;
			text-align: center;
			padding: 4mm;
		}

		.quote-creator {
			text-align: right;
			font-size: 10pt;
			font-family: Rubik;
			font-weight: 300;
			margin: var(--baseline-height) 0 0 0;
			--alf-hyphenate: 1;
		}
	}
}
