@use 'sass:math';

@mixin cmyk($name, $c, $m, $y, $k, $a: 1) {
	$c: to-dec($c);
	$m: to-dec($m);
	$y: to-dec($y);
	$k: to-dec($k);
	$a: to-dec($a);

	$r: 255 * (1 - $c) * (1 - $k);
	$g: 255 * (1 - $m) * (1 - $k);
	$b: 255 * (1 - $y) * (1 - $k);

	#{$name}: rgba($r, $g, $b, $a);

	@media print {
		#{$name}: cmyk($c, $m, $y, $k, $a);
	}
}

@function to-dec($value) {
	@if unit($value) == '%' {
		$value: math.div($value, 100%);
	}

	@return $value;
}

@mixin outline($color, $width) {
	text-shadow: $color $width 0 0,
		$color #{math.cos(0.5) * $width} #{math.sin(0.5) * $width} 0,
		$color #{math.cos(1) * $width} #{math.sin(1) * $width} 0,
		$color #{math.cos(1.5) * $width} #{math.sin(1.5) * $width} 0,
		$color #{math.cos(2) * $width} #{math.sin(2) * $width} 0,
		$color #{math.cos(2.5) * $width} #{math.sin(2.5) * $width} 0,
		$color #{math.cos(3) * $width} #{math.sin(3) * $width} 0,
		$color #{math.cos(3.5) * $width} #{math.sin(3.5) * $width} 0,
		$color #{math.cos(4) * $width} #{math.sin(4) * $width} 0,
		$color #{math.cos(4.5) * $width} #{math.sin(4.5) * $width} 0,
		$color #{math.cos(5) * $width} #{math.sin(5) * $width} 0,
		$color #{math.cos(5.5) * $width} #{math.sin(5.5) * $width} 0,
		$color #{math.cos(6) * $width} #{math.sin(6) * $width} 0;
}
