@mixin box {
	& {
		background: var(--box-background, transparent);
		outline: var(--box-outline, none);
		z-index: var(--box-z-index, unset);
	}

	@include box-options;
}

@mixin box-options {
	&.box--shadow {
		--box-shadow: var(--color-black) 0 0 1mm;
		box-shadow: var(--box-shadow, transparent) 0 0 1mm;
	}

	&.box--background--white {
		--box-background: var(--color-white);
	}

	&.box--background--black {
		--box-background: var(--color-black);
	}

	&.box--background--blue-gray {
		--box-background: var(--color-blue-gray);
	}

	&.box--background--blue-light {
		--box-background: var(--color-blue-light);
	}

	&.box--background--olive {
		--box-background: var(--color-olive);
	}

	&.box--background--flax {
		--box-background: var(--color-flax);
	}
}
