@use "../tools";

@mixin component {
	.alf-component.box {
		@include tools.margin;
		@include tools.box;

		& {
			--box-default-height: calc(var(--baseline-height) * 5);
			--alf-grid-align-top: none;
			--alf-grid-align-bottom: none;
			height: var(--box-default-height);
			min-height: var(--box-default-height);
		}

		@media screen {
			--box-outline: #ffffb9 dashed 2px;
			--box-background: #ffffb9;
		}
	}
}
