.box {
	--box-background-color: transparent;
	min-height: var(--baseline-height);
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;
	background-color: var(--box-background-color);

	&.alf-is-auto-adjustable {
		min-height: 0;
		margin-bottom: 0;
	}
}
