.box {
	--rotation: 0deg;
	--box-background-color: transparent;
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;
	min-height: var(--baseline-height);
	background-color: var(--box-background-color);

	&.rotate {
		transform: rotate(var(--rotation));
	}

	&.alf-is-auto-adjustable {
		min-height: 0;
		margin-bottom: 0;
	}
}
