.infographic {
	display: flex;
	justify-content: center;
	--alf-grid-align-top: top;
	--alf-grid-cell-expand: 48;

	.infographic--image-container {
		display: inline-block;
	}

	&.infographic--no-expand {
		--alf-grid-cell-expand: 0;

		.infographic--image-container {
			width: 100%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

