@use "../tools";

@mixin component {
	.alf-component.intro {
		@include tools.margin;

		& {
			font-family: Rubik;
			font-weight: 300;
			font-size: 17pt;
			line-height: 1.1em;
			--margin-bottom: var(--top-line-offset);
			--alf-grid-align-top: top;
			--alf-grid-align-bottom: baseline;
			--alf-hyphens-after-first: 5;
			--alf-hyphens-before-last: 5;
			--alf-hyphenate: 1;
			--alf-is-editable: 1;
		}

		p {
			margin: 0;
		}
	}
}
